<navbar></navbar>
<div class="container">
    <div class="well">
        <form name="createForm" class="form" ng-submit="createCtrl.create()" novalidate>

            <div class="row">
                <div class="col-md-3" masonry>
                    <post post="createCtrl.post"></post>
                </div>
                <div class="col-md-9">
                    <div class="form-group">
                        <label>Image</label>
                        <input type="text" class="form-control" ng-model="createCtrl.post.image" required>
                    </div>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" ng-model="createCtrl.post.description" required>
                    </div>

                    <button ng-disabled="!createForm.$valid" class="btn btn-primary">Create</button>
                </div>
            </div>
        </form>
    </div>
</div>
<footer></footer>
