.masonry-brick {
  display: none;
}
.masonry-brick.loaded {
  display: block;
}
.post {
  background-color: #FFFFFF;
  border-radius: 10px;
  position: relative;
  margin-bottom: 10px;

  .image {
    position:relative;
    display:inline-block;
    width: 100%;
    height: 100%;
    &:after {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      display: inline-block;

      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    }

    img {
      width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      display: block;
    }
  }

  .caption {
    padding: 5px 10px;

    .author {
      padding-top: 5px;
      border-top: 1px solid #dbdbdb;
      text-transform: uppercase;
      font-weight: bold;

      a {
        color: grey;
      }
    }
  }
  .actions {
    position: absolute;
    top: 0;
    width: 100%;
    display: none;

    .btn-like {
      color: #FFFFFF;
      background-color: $red;
      margin-top: 5px;
      margin-right: 5px;
      float: right;
      padding: 0 5px 3px 5px;
      &.active, &:hover {
        background-color: lighten($red, 10);
      }
      i {
        margin-top: 3px;
      }
    }

    .btn-remove {
      margin-left: 5px;
      margin-top: 5px;
      padding: 0 7px;
      font-size: 18px;
      background-color: #fff;
    }
  }

  &:hover {
    .image:after {
      content: '';
    }
    .actions {
      display: block;
    }
  }
}