<!-- style="width: 200px;" -->
<div class="masonry-brick col-xs-12 col-sm-2">
    <div class="post">
        <div class="image">
            <img ng-src="{{ postDirCtrl.post.image }}" alt="{{ postDirCtrl.post.description }}" err-src="http://placehold.it/200x200" class="img-responsive">
        </div>
        <div class="caption">
            <div>
                {{ postDirCtrl.post.description }}
            </div>
            <div class="author">
                <i class="glyphicon glyphicon-user"></i> <span><a ui-sref="wall({id: postDirCtrl.post.User._id})">{{ postDirCtrl.post.User.name }}</a></span>
            </div>
        </div>
        <div class="actions">
            <button ng-click="postDirCtrl.like()" class="btn btn-like" ng-class="{active: postDirCtrl.post.Likes.length}"><i class="glyphicon glyphicon-heart"></i> {{ postDirCtrl.post.likesCount || 0 }}</button>
            <button class="btn btn-remove" ng-show="postDirCtrl.post.User._id === postDirCtrl.currentUser._id" ng-click="postDirCtrl.remove({post: post})">&times;</button>
        </div>
    </div>
</div>